.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.credit-card {
  display: flex;
  width: 300px;
  height: 150px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.credit-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; 
}

.credit-card-balance {
  font-size: 32px;
  font-weight: bold;
}

.credit-card-text {
  font-size: 18px;
  margin-top: 10px;
}
