

.App {
  background: #F9F6EE;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.Detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 30px;
}

.Tracker{
  padding-top: 80px;
  justify-content: center;
  padding-left: 50px;
  flex-direction: column;
  
}

.Stat{
  padding-top: 60px;
  
}

.HeaderApp {
  display: flex;
  justify-content: space-between;
  color: #F9F6EE;
  
}

.left-menu, .right-menu {
  display: flex;
  margin-right: 10px;
}

.right-menu {
  margin-left: auto; 
}

.FooterApp {
  display: flex;
  justify-content: space-between;
  background: #000000;
  color: #F9F6EE;
  font-family: 'Lilliput Steps', sans-serif;
}

.FooterApp .logo img {
  width: 44px;
  display: flex;
  align-items: center;

}